<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" type="text/css" href="css/jquery.mobile-1.4.2.min.css" />
        <link rel="stylesheet" type="text/css" href="css/init.css" />
        <title>TBOP MOBILE APPLICATION</title>
        <style>
            .half {
             width : 50% !important;   
            } 
        </style>
    </head>
    <body ng-app="myApp" ng-controller="ClientCtrl">
        <!--Applicant's Data-->
        <div data-role="page" id="pageAppData">
            <div data-role="header" class="header"></div>
            <div data-role="main" class="ui-content" data-ajax="false" >  
                <span class="label clear bold uppercase" ng-click="loadPicture()" data-i18n="messages.ApplicantData">Applicant's Data</span><br class="clear"/>
                <div class="ui-grid-a ui-content vc-general" style="text-align:center;" >
                    <div class="ui-block-a">
                        <div class="ncadPhoto" style="background-color:#f6f6f6;border:1px solid #ddd;margin:auto;margin-top:1em;">
                            <img class="ncadPhoto" id="ncadPhoto" ng-src="{{clientinfo.CLT_PHOTO}}" alt="" />
                        </div>
                    </div>
                    <div class="ui-block-b"> 
                        <table data-role="table" class="ui-responsive ui-shadow table-stroke">
                            <thead><tr><td></td><td></td></tr></thead>
                            <tbody>
                                <tr><td style='width:50%' data-i18n="messages.FullName">Full Name</td><td>{{clientinfo.CLT_FULL_NAME}}</td></tr>
                                <tr><td style='width:50%' data-i18n="messages.NickName">Nick Name</td><td>{{clientinfo.CLT_NICK_NAME}}</td></tr>
                                <tr><td style='width:50%' data-i18n="messages.KTPNo">Client KTP</td><td>{{clientinfo.CLT_FAMILY_CARD_NO}}</td></tr>
                                <tr><td style='width:50%' data-i18n="messages.ClientID">Client ID</td><td>{{clientinfo.CLT_CLEINT_ID}}</td></tr>
                                <tr><td style='width:50%' data-i18n="messages.FamilyCardNo">No ID</td><td>{{clientinfo.CLT_OTH_REG_NO}}</td></tr>
                                <tr><td style='width:50%' data-i18n="messages.DOB">Date of Birth</td><td>{{clientinfo.CLT_BIRTHDATE}}</td></tr>
                                <tr><td style='width:50%' data-i18n="messages.Age">Age</td><td>{{ adCalcAge() }}</td></tr>
                                <tr><td style='width:50%' data-i18n="messages.HighestEducation">Highest Education</td><td>{{ getEducation(clientinfo.CLT_HIGH_EDU) | translate }}<br/><div ng-show="clientinfo.CLT_HIGH_EDU==6">{{clientinfo.CLT_HIGH_EDU_OTHER}}</div></td></tr>
                            </tbody>
                        </table>
                        <br class="clear"/>
                    </div>
                    
                    <table data-role="table" class="ui-responsive ui-shadow table-stroke">
                        <thead><tr><td></td><td></td></tr></thead>
                        <tbody>
                            <!-- <tr>
                                <td style='width:50%' data-i18n="messages.ClientID">Client ID No.</td><td>{{clientinfo.CLT_OTH_REG_NO}}</td>
                            </tr> -->
                            <tr><td style='width:50%' data-i18n="messages.GroupNo">Group No.</td><td>{{clientinfo.CLT_GROUP_ID}}</td></tr>
                            <tr><td style='width:50%' data-i18n="messages.Leader">Leader</td><td>{{CODE[5][clientinfo.CLT_IS_GROUP_LEADER]['CODE_NAME'] | translate }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div data-role="footer" class="footer"></div><!-- data-position="fixed"-->
        </div>
    
        <!--Husband's Info-->
        <div data-role="page" id="pageAppData2">
            <div data-role="header" class="header"></div>
            <div data-role="main" class="ui-content" data-ajax="false">
                <span class="label clear bold uppercase" data-i18n="messages.HusbandInformation">Husband's Information</span><br class="clear"/>
                <div class="ui-content">
                    <table data-role="table" class="ui-responsive ui-shadow table-stroke">
                        <thead><tr><td></td><td></td></tr></thead>
                        <tbody>
                            <tr><td data-i18n="messages.MaritalStatus">Marital Status</td><td>{{CODE[1][clientinfo.CLT_MARITAL_STATUS]['CODE_NAME'] | translate }}</td></tr>
                            <tr ng-show='clientinfo.CLT_MARITAL_STATUS!="S"'><td data-i18n="messages.HusbandName">Husband Name</td><td>{{clientinfo.CLT_HB_NAME}}</td></tr>
                            <tr ng-show='clientinfo.CLT_MARITAL_STATUS!="S"'><td data-i18n="messages.HusbandIDNo">Husband ID No.</td><td>{{clientinfo.CLT_HB_ID}}</td></tr>
                            <tr ng-show='clientinfo.CLT_MARITAL_STATUS!="S"'><td data-i18n="messages.LiveInHouse">Lives in House</td><td>{{CODE[5][clientinfo.CLT_HB_LIVE_IN_HOUSE]['CODE_NAME'] | translate }}</td></tr>
                            <tr ng-show='clientinfo.CLT_MARITAL_STATUS!="S"'><td data-i18n="messages.WhereDoesHeLive">Where does he live?</td><td>{{clientinfo.CLT_HB_LIVE_PLACE}}</td></tr>
                            <tr ng-show='clientinfo.CLT_MARITAL_STATUS!="S"'><td data-i18n="messages.HowOftenDoesHeComeHome">How often does he come home?</td><td>{{CODE[6][clientinfo.CLT_HB_COME_HOUSE]['CODE_NAME'] | translate }}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="footer" data-role="footer"></div><!-- data-position="fixed"-->
        </div>  
        
        <!--Household and Mother Info-->
        <div data-role="page" id="pageAppData3">
            <div data-role="header" class="header"></div>
            <div data-role="main" class="ui-content" data-ajax="false">
                <span class="label clear bold uppercase" data-i18n="messages.HouseholdMotherInfo">Household and Mother Info</span><br class="clear"/>
                <div class="ui-content">
                    <table data-role="table" class="ui-responsive ui-shadow table-stroke">
                        <thead><tr><td></td><td></td></tr></thead>
                        <tbody>
                            <!-- <tr><td data-i18n="messages.NoOfHouseholdMember">No. of Household Members</td><td>{{clientinfo.CLT_NUM_HOUSE_MEM}}</td></tr>
                            <tr><td data-i18n="messages.NoOfChildrenLessThan18YearOld">No. of Children &lt;18yrs<br/> in the household</td><td>{{clientinfo.CLT_NUM_CHILDREN}}</td></tr> -->
                            <tr><td data-i18n="messages.MotherName">Mother's Name</td><td style="width: 65%">{{clientinfo.CLT_MOTHER_NM}}</td></tr>
                            <tr><td data-i18n="messages.ParentsResidence">Residence of Parents</td><td><span ng-if="clientinfo.CLT_RESIDENCE_OF_PARENTS !== undefined">{{clientinfo.CLT_RESIDENCE_OF_PARENTS}}</span></td></tr>
                            <!-- <tr><td data-i18n="messages.MotherAge">Mother's Age</td><td>{{clientinfo.CLT_MOTHER_AGE}}</td></tr> -->
                        </tbody>
                    </table>
                    <table data-role="table" class="ui-responsive ui-shadow table-stroke" ng-repeat="fam in family">
                        <thead><tr><th colspan="2">{{ fam.name }}</th></tr></thead>
                        <tbody>
                            <tr><td data-i18n="messages.Gender">{{words.Gender}}</td><td style="width: 65%">{{fam.gender | translate }}</td></tr>
                            <tr><td data-i18n="messages.DOB">{{words.DOB}}</td><td>{{fam.birthdate }}</td></tr>
                            <tr><td data-i18n="messages.Relationship">{{words.Relationship}}</td><td>{{fam.famcode}}</td></tr> 
                            <tr><td data-i18n="messages.MaritalStatus">{{words.MaritalStatus}}</td><td>{{fam.maritalstatus | translate }}</td></tr>
                            <tr><td data-i18n="messages.Work">{{words.Work}}</td><td>{{fam.work | translate }}</td></tr>
                            <tr><td data-i18n="messages.Education">{{words.Education}}</td><td>{{fam.educode}}</td></tr>
                            <tr><td data-i18n="messages.Information">{{words.Information}}</td><td>{{fam.isschooling | translate }}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="footer" data-role="footer"></div>
        </div>
        
        <!--App Data Business Info-->        
        <div data-role="page" id="pageAppData4">
            <div data-role="header" class="header"></div>
            <div data-role="main" class="ui-content" data-ajax="false">
                <span class="label clear bold uppercase" data-i18n="messages.BusinessInfo">Business Info</span><br class="clear"/>
                <div class="ui-content">
                    <table data-role="table" class="ui-responsive ui-shadow table-stroke">
                        <thead><tr><td></td><td></td></tr></thead>
                        <tbody>
                            <tr><td data-i18n="messages.BusinessType">Type of Business</td><td>{{clientinfo.CLT_BIZ}}</td></tr>
                            <tr><td data-i18n="messages.BusinessEquipment">Business Equipment</td><td>{{clientinfo.CLT_BIZ_EQUIPT}}</td></tr>
                            <tr><td data-i18n="messages.JointBusinessWithHusband">Joint Business with Husband</td><td>{{clientinfo.CLT_BOTH_BIZ}}</td></tr>
                            <tr><td data-i18n="messages.BusinessEquipment">Business Equipment</td><td>{{clientinfo.CLT_BOTH_BIZ_EQUIPT}}</td></tr>
                            <tr><td data-i18n="messages.HusbandBusiness">Husband's Business</td><td>{{clientinfo.CLT_HB_BIZ}}</td></tr>
                            <tr><td data-i18n="messages.BusinessEquipment">Business Equipment</td><td>{{clientinfo.CLT_HB_BIZ_EQUIPT}}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="footer" data-role="footer"></div>
        </div>

        <!--Address and Telephone Numbers-->               
        <div data-role="page" id="pageAddress">
            <div data-role="header" class="header"></div>
            <div data-role="main" class="ui-content" data-ajax="false">
                <span class="label clear bold uppercase" data-i18n="messages.AddrTelNo">Address and Telephone Numbers</span><br class="clear"/>
                <div class="ui-content">
                    <table data-role="table" class="ui-responsive ui-shadow table-stroke">
                        <thead><tr><td></td><td></td></tr></thead>
                        <tbody>
                        <tr><td >RT</td><td>{{clientinfo.CLT_RT}}</td></tr>
                        <tr><td >RW</td><td>{{clientinfo.CLT_RW}}</td></tr>
                        <tr><td data-i18n="messages.StreetArea">Street/Area</td><td>{{clientinfo.CLT_STREET_AREA_NM}}</td></tr>
                        <tr><td data-i18n="messages.Village">Village</td><td>{{clientinfo.VLM_NAME}}</td></tr>
                        <tr><td data-i18n="messages.Center">Center</td><td>{{clientinfo.CTR_CENTER_NAME}}</td></tr>
                        <tr><td data-i18n="messages.SubDistrict">Sub-district</td><td>{{clientinfo.CLT_SUB_DISTRICT}}</td></tr>
                        <tr><td data-i18n="messages.District">District</td><td>{{clientinfo.CLT_DISTRICT}}</td></tr>
                        <tr><td data-i18n="messages.Province">Province</td><td>{{clientinfo.CLT_PROVINCE}}</td></tr>
                        <tr><td data-i18n="messages.PostalCode">Post code</td><td><span ng-hide="clientinfo.CLT_POSTAL_CD=='null'">{{clientinfo.CLT_POSTAL_CD}}</span></td></tr>
                        <tr><td data-i18n="messages.Landmark">Landmark</td><td>{{clientinfo.CLT_LAND_MARK}}</td></tr>
                        <tr><td data-i18n="messages.ClientMobileNo1">Client Mobile No.1</td><td>{{clientinfo.CLT_MOB_NO_1}}</td></tr>
                        <tr><td data-i18n="messages.ClientMobileNo2">Client Mobile No.2</td><td>{{clientinfo.CLT_MOB_NO_2}}</td></tr>
                        <tr><td data-i18n="messages.HusbandMobileNo">Husb. Mobile No</td><td>{{clientinfo.CLT_HUSB_MOB_NO}}</td></tr>
                        </tbody>
                    </table></div>
            </div>
            <div class="footer" data-role="footer"></div>
        </div>
        
        <!--Family Welfare Status-->  
        <div data-role="page" id="pageWelfareStatus">
            <div data-role="header" class="header"></div>
            <div data-role="main" class="ui-content" data-ajax="false">
                <span class="label clear bold uppercase" data-i18n="messages.FamilyWelfareStatus">Family Welfare Status</span><br class="clear"/>
                <div class="ui-content">
                    <table data-role="table" class="ui-responsive ui-shadow table-stroke">
                        <thead><tr><th data-i18n="messages.FamilyWelfareStatus">Family Welfare Status</th><th data-i18n="messages.Type">Type</th></tr></thead>
                        <tbody>
                            <tr><td data-i18n="messages.WelfareStatus">Welfare Status</td><td>{{ {'PW':'Pre-Welfare','W1':'Welfare 1','W2':'Welfare 2'}[loaninfo.CLL_WELFARE_STATUS] | translate }}</td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="ui-content">
                    <div ng-show="checkWelfare('PW')">
                        <table data-role="table" class="ui-responsive ui-shadow table-stroke">
                            <thead><tr><th><a href="#" class="ui-btn ui-btn-inline ui-icon-info ui-btn-icon-notext ui-corner-all ui-shadow ui-btn-h"></a>{{selectedWelfare.FWF_OCCUPATION | translate }}</th></tr></thead>
                            <tbody>
                                <tr><td>{{selectedWelfare.FWF_DESC | translate }}</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="ui-content">

                <table data-role="table" class="ui-responsive ui-shadow table-stroke ui-table ui-table-reflow">
                        <thead>
                            <tr>
                                <!-- <th>No.</th> -->
                                <th>Asset</th>
                                <th>Present Value</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="tfoot">
                                <!-- <th></th> -->
                                <th  style="text-align:right;">Total Value of Unproductive Assets</td>  
                                <th>{{ getTotalUnproVal() }}</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr ng-repeat="upa in unproassets " > 
                                <!-- <td style="text-align: center;">{{ upa.index }}</td>  -->
                                <td> 
                                    {{ upa.asset }}
                                </td>
                                <td>
                                    {{ upa.value | currency  : 'Rp&nbsp' : 0 }}
                                </td>
                            </tr>   
                        </tbody>  
                    </table> 

            </div>
            <div class="footer" data-role="footer"></div>
        </div>

        <!--Working Capital-->  
        <div data-role="page" id="pageWorkingCapital">
            <div data-role="header" class="header"></div>
            <div data-role="main" class="ui-content" data-ajax="false">
                <span class="label clear bold uppercase" data-i18n="messages.OwnWorkCapital">Own Working Capital</span><br class="clear"/>
                <div class="ui-content">
                    <table data-role="table" class="ui-responsive ui-shadow table-stroke">
                        <thead><tr><td></td><td></td></tr></thead>
                        <tbody>
                            <tr><td data-i18n="messages.Applicant">Applicant</td><td>{{loaninfo.CLL_WORKING_CAPITAL | currency  : 'Rp&nbsp' : 0}}</td></tr>
                            <tr><td data-i18n="messages.Husband">Husband</td><td>{{loaninfo.CLL_HB_WORKING_CAPITAL | currency  : 'Rp&nbsp' : 0}}</td></tr>
                            <tr class="bold"><td class="strong" data-i18n="messages.Total">Total</td><td>{{loaninfo.CLL_WORKING_CAPITAL+loaninfo.CLL_HB_WORKING_CAPITAL | currency  : 'Rp&nbsp' : 0}}</td></tr>
                        </tbody>
                    </table>
                    <p data-i18n="messages.NoteHdr">Note:<br/></p>
                    <ol><li data-i18n="messages.Note1">If more than 1 loan from bank or private institution (exclude money lender/co-operative), applicant not eligible.</li>
                        <li data-i18n="messages.Note2">Branch manager assesses whether above repayment will not overburden applicant in repayment of working capital.</li>
                    </ol>
                </div>
                <br class="clear"/><span class="label clear bold uppercase" data-i18n="messages.BorrowedFund">Borrowed Funds</span><br class="clear"/>
                <div class="ui-content">
                    <table data-role="table" class="ui-responsive ui-shadow table-stroke">
                        <thead><tr><th data-i18n="messages.LoanFrom">Loan From</th><th data-i18n="messages.LoanFromName">Loan From Name</th><th data-i18n="messages.By">by</th><th data-i18n="messages.OriginalAmt">Original Amt.</th><th data-i18n="messages.Balance">Bal.</th><th data-i18n="messages.RepaymentPerWk">Repayment/Week</th><th data-i18n="messages.RepaymentPerMth">Repayment/Mth</th></tr></thead>
                        <tbody ng-repeat="fund in borrowedinfo">
                            <tr><td>{{{'B':'Bank','I':'Institution','M':'MoneyLender','C':'Cooperative'}[fund.CEF_LOAN_FROM] | translate }}</td><td>{{fund.CEF_LOAN_FROM_NAME}}</td><td>{{{'C':'Client','H':'Husband','B':'Both'}[fund.CEF_BORROWED_BY] | translate}}</td><td>{{fund.CEF_ORGINAL_AMT | currency  : 'Rp&nbsp' : 0}}</td><td>{{fund.CEF_BALANCE_AMT | currency  : 'Rp&nbsp' : 0}}</td><td>{{fund.CEF_REPAY_PER_WEEK | currency  : 'Rp&nbsp' : 0}}</td><td>{{fund.CEF_REPAY_PER_MONTH | currency  : 'Rp&nbsp' : 0}}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="footer" data-role="footer"></div><!-- data-position="fixed"-->
        </div>

        <!--Housing Index-->  
        <div data-role="page" id="pageHousingIndex">
            <div data-role="header" class="header"></div>
            <div data-role="main" class="ui-content" data-ajax="false">
                <span class="label clear bold uppercase" data-i18n="messages.HousingType">Housing Type</span><br class="clear"/>

                <div class="ui-content">
                    {{houseindices[1][loaninfo.CLL_HOUSE_TYP].HSE_NAME | translate }}
                </div>
                <br class="clear"/><span class="label clear bold uppercase" data-i18n="messages.HousingIndex">Housing Index</span><br class="clear"/>
                <div class="ui-content" >
                    <table data-role="table" class="ui-responsive ui-shadow table-stroke">
                        <thead><tr><td></td><td></td></tr></thead>
                        <tbody>
                            <!-- <tr ng-if="loaninfo.CLL_HSE_INX > 0">
                                <td data-i18n="messages.HousingSize">House Size</td>
                                <td style="width:50%">
                                {{houseindices[2][loaninfo.CLL_HOUSE_SIZE+".0"].HSE_NAME | translate }}</td>
                            </tr>
                            <tr ng-if="loaninfo.CLL_HSE_INX > 0">
                                <td data-i18n="messages.HousingCondition">House Condition</td><td style="width:50%">{{houseindices[3][loaninfo.CLL_HOUSE_CONDITION+".0"].HSE_NAME | translate }}</td></tr> -->
                            <tr ng-show="loaninfo.CLL_HSE_INX > 0">
                                <td data-i18n="messages.WallType">Wall Type</td><td style="width:50%">{{houseindices[5][loaninfo.CLL_WALL_TYPE].HSE_NAME | translate }}</td>
                            </tr>
                            <tr ng-show="loaninfo.CLL_HSE_INX > 0">
                                <td data-i18n="messages.RoofType">Roof Type</td><td style="width:50%">{{houseindices[4][loaninfo.CLL_ROOF_TYPE].HSE_NAME | translate }}</td>
                            </tr>
                            <tr ng-show="loaninfo.CLL_HSE_INX > 0">
                                <td data-i18n="messages.FloorType">Floor Type</td><td style="width:50%">{{houseindices[6][loaninfo.CLL_FLOOR_TYP].HSE_NAME | translate }}</td>
                            </tr>
                            <tr ng-show="loaninfo.CLL_HSE_INX > 0">
                                <td data-i18n="messages.HomeOwnershipType">Home Ownership</td><td style="width:50%">{{ getHomeOwnership() | translate }}</td>
                            </tr>
                            <!-- <tr><td data-i18n="messages.ElectricitySource">Electricity Source</td><td style="width:50%">{{houseindices[7][loaninfo.CLL_ELETRICITY].HSE_NAME | translate }}</td></tr>
                            <tr><td data-i18n="messages.WaterSource">Water Source</td><td style="width:50%">{{houseindices[8][loaninfo.CLL_WATER_SRC].HSE_NAME | translate }}</td></tr> -->
                        </tbody>
                        <tfoot>
                            <tr ng-if="loaninfo.CLL_HSE_INX > 0" class="bold tfoot">
                                <th><h1 style="text-align:left;" data-i18n="messages.TotalScore">Total Score</h1></th>
                                <th><h1 style="text-align:left;">{{loaninfo.CLL_HSE_INX}}</h1></th>
                            </tr>
                            <tr ng-if="loaninfo.CLL_HSE_INX == 0" class="bold">
                                <td colspan="2"><br><h1 data-i18n="messages.Homeless">HOMELESS<br><p></p></h1></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="footer" data-role="footer"></div>
        </div>
        
        <!--House Income Est-->  
        <div data-role="page" id="pageHouseIncomeEst">
            <div data-role="header" class="header"></div>
            <div data-role="main" class="ui-content" data-ajax="false">
                <span class="label clear bold uppercase" data-i18n="messages.HouseIncomeEstimate">House Income Est.</span><br class="clear"/>
                <div class="ui-content">
                    <table data-role="table" class="ui-responsive ui-shadow table-stroke ui-table ui-table-reflow">
                        <thead>
                            <tr>   
                                <th data-i18n="messages.IncomeSource">Source</th>
                                <th data-i18n="messages.IncomeFixed">Fixed(Rp per Month)</th>
                                <th data-i18n="messages.IncomeVariable">Variable(Rp per Month)</th>
                                <th > </th>
                                <th data-i18n="messages.IncomeTotal">Total(Rp per Month)</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="income in houseIncomes"   ng-show="showSelect(income)">
                            <tr >  
                                <td>
                                    <div class="ui-content">{{ income.source | translate }}</div>
                                </td>
                                <td>
                                    <div class="ui-content">
                                        {{ income.fixed | nfcurrency }}
                                    </div>
                                </td>
                                <td>
                                    <div class="ui-content">
                                        {{ income.variable | nfcurrency }}
                                    </div> 
                                </td>
                                <td>   
                                    <div class="ui-content">
                                        {{ income.inctype }}
                                    </div>  
                                </td> 
                                <td> 
                                    <div class="ui-content">{{income.fixed + income.variable | nfcurrency }}/Bulan</div>
                                </td>
                            </tr> 
                        </tbody> 
                        <tfoot>
                            <tr class="tfoot"> 
                                <th colspan="2" style="text-align: right;"></th>
                                <th colspan="2">
                                    <div class="ui-content" data-18n="messages.IncomeNet">Net Income</div>
                                </th>
                                <th>
                                    <div class="ui-content">{{ getTotalNetIncome() | nfcurrency }} /Bulan</div>
                                </th>
                            </tr>
                        </tfoot>
                    </table> 
                </div>
            </div>
            <div class="footer" data-role="footer"></div>
        </div>
        <!--Account Status-->
        <div data-role="page" id="pageAccountStatus"> 
            <div data-role="header" class="header"></div>
            <div data-role="main" class="ui-content" data-ajax="false">
                <div ng-show="currLoan.length > 0">
                    <span class="label clear bold uppercase" data-i18n="messages.AccountStatus" >Account Status</span><br class="clear"/> 
                    <div class="ui-content"> 
                        <!-- LOAN TYPES -->
                        <div ng-repeat="loan in currLoan track by loan.LTY_PK" class="ui-grid-33 marg-btm-20 ">
                            <a href="#" ng-click="viewloanproducts($index, $event)" class="loan-trans">
                                <table data-role="table" class="ui-responsive box-active loan-box ui-shadow table-stroke"  >
                                    <thead>
                                        <tr>
                                            <th class="box-header">
                                                <div class="lineh-32 ">
                                                    {{loan.LTY_DESCRIPTION}} 
                                                </div> 
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="box-body">
                                        <tr>
                                            <td > 
                                                <div class="ui-content bold center group-block-amt" >
                                                    <h1>{{ loan.CRS_ACTUAL_WEEK_NO }}</h1>
                                                </div>
                                                <div class="group-client left">
                                                    <i class="fa fa-repeat"></i>{{ loan.CLL_LOAN_WEEKS }}
                                                </div>
                                                <div class="group-status right">
                                                    <span>Loan</span> :<b>{{ loan.CLL_ACTUAL_LOAN }}</b>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </a>
                        </div>
                    </div>
                    <div class="ui-grid-a" style="text-align:center;" >
                        <div class="ui-block-a">
                            <div class="ui-content">
                                <table data-role="table" class="ui-responsive ui-shadow table-stroke">
                                    <thead><tr><td></td><td></td></tr></thead>
                                    <tbody>
                                    <!--    <tr><td class="half" data-i18n="messages.LoanStatus">Loan Status</td><td>{{selectTransactions[loaninfo.CLL_STATUS]['TST_NAME']}}</td></tr>  -->
    									<tr><td class="half" data-i18n="messages.LoanStatus">Loan Status</td><td>{{selectTransactions[loaninfo.CLL_STATUS]['TST_KEY'] | translate }}</td></tr>
                                        <tr><td class="half" data-i18n="messages.ActualLoanAmt">Actual Loan Amount</td><td>{{loaninfo.CLL_ACTUAL_LOAN | currency  : 'Rp&nbsp' : 0}}</td></tr>
                                        <tr><td class="half" data-i18n="messages.LoanInterest">Loan Interest</td><td>{{loaninfo.CLL_LOAN_INTEREST}}%</td></tr>
                                        <!-- <tr>
                                            <td class="half">CRF</td><td>{{loaninfo.CLL_CRF_PERCENTAGE}}%</td>
                                        </tr> -->
                                        <tr ng-hide="loaninfo.CLL_DISBURSEMENT_DATE==null||loaninfo.CLL_DISBURSEMENT_DATE==''"><td class="half" data-i18n="messages.DisbursementDate">Disbursement Date</td><td>{{loaninfo.CLL_DISBURSEMENT_DATE}}</td></tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="ui-block-b">
                            <div class="ui-content">
                                <table data-role="table" class="ui-responsive ui-shadow table-stroke">
                                    <thead><tr><td></td><td></td></tr></thead>
                                    <tbody>
                                        <tr><td class="half" data-i18n="messages.WeeklyRepayment">Weekly Repayment</td><td>{{loaninfo.CLL_CAPITAL_REPAY_PER_WEEK+loaninfo.CLL_PROFIT_REPAY_PER_WEEK | currency  : 'Rp&nbsp' : 0}}</td></tr>
                                        <tr>
                                            <td class="half" data-i18n="messages.TotalPaid">Total Paid</td>
                                            <td>{{ totalpaid | currency  : 'Rp&nbsp' : 0}}</td>
                                        </tr>
                                        <tr ng-hide="capbalance==null"><td class="half" data-i18n="messages.CapitalBalance">Capital Balance</td><td>{{capbalance | currency  : 'Rp&nbsp' : 0}}</td></tr>
                                        <tr ng-hide="profbalance==null"><td class="half" data-i18n="messages.ProfitBalance">Profit Balance</td><td>{{profbalance | currency  : 'Rp&nbsp' : 0}}</td></tr>
                                        <tr ng-hide="latestpayment==null"><td class="half" data-i18n="messages.RecentMissedPayment">Recent Missed Payment</td><td data-i18n="messages.WeekNo">Week No:{{ latestpayment.CRS_WEEK_NO }}<br/>Amount: {{latestpayment.CRS_COLLECTION_AMT | currency  : 'Rp&nbsp' : 0}}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
        
                    <span class="label clear bold uppercase" data-i18n="messages.TrainingStatus">Training Status</span><br class="clear"/>
                    <div class="ui-content">
                        <table data-role="table" class="ui-responsive ui-shadow table-stroke">
                            <thead><tr><td></td><td></td></tr></thead>
                            <tbody>
                                <tr ng-show="clientinfo.CLT_TRANING_COMPLETED==''||clientinfo.CLT_TRANING_COMPLETED==null||clientinfo.CLT_TRANING_COMPLETED=='null'"><td class="half" data-i18n="messages.TrainingScheduleStart">Training Schedule Start</td><td>{{prepDate(clientinfo.CLT_TRANING_START_DATE)}}</td></tr>
                                <tr ng-show="clientinfo.CLT_TRANING_COMPLETED==''||clientinfo.CLT_TRANING_COMPLETED==null||clientinfo.CLT_TRANING_COMPLETED=='null'"><td class="half" data-i18n="messages.TrainingScheduleEnd">Training Schedule End</td><td>{{prepDate(clientinfo.CLT_TRANING_END_DATE)}}</td></tr>
                                <tr ng-hide="clientinfo.CLT_TRANING_COMPLETED==''||clientinfo.CLT_TRANING_COMPLETED==null||clientinfo.CLT_TRANING_COMPLETED=='null'"><td class="half" data-i18n="messages.TrainingCompleted">Training Completed</td><td>{{CODE[5][clientinfo.CLT_TRANING_COMPLETED].CODE_NAME | translate }}<br/>
                                    </td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ui-content" data-ajax="false" ng-if="currLoan.length == 0">
                    <div class="ui-content jumbotron center">
                        <h2 data-i18n="messages.ClientWaitingApproval"></h2>
                    </div>
                </div>
            </div>
            
            <div data-role="footer" class="footer"></div><!-- data-position="fixed"-->
        </div>
        <!--Payment History-->
        <div data-role="page" id="pagePaymentHistory">
            <div data-role="header" class="header"></div>
            <div data-role="main" class="ui-content" data-ajax="false">
                <span class="label clear bold uppercase" data-i18n="messages.PaymentHistory">Payment History</span><br class="clear"/>
                <div class="ui-content" style='text-align:center;background:white;position:relative;'>
                    <div style='text-align:center;background:white;position:absolute;z-index:8'></div>
                    <canvas id="historyChart" width="400" height="400" style='background:white;border:1px solid black;z-index:9'></canvas>
                    <table data-role="table" class="ui-responsive ui-shadow table-stroke">
                        <thead>
                            <tr> 
                                <th   >Name</th>
                                <th   >Maturity</th>  
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="loan in currLoan" class="selected" ng-click="SelectLoanHistory(loan.CLL_PK)">
                                <td>
                                    <div class="ui-content">
                                        {{ loan.LTY_DESCRIPTION }}
                                    </div>
                                </td>
                                <td>
                                    <div class="ui-content">
                                        {{ loan.CLL_LOAN_WEEKS }}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table data-role="table" class="ui-responsive ui-shadow table-stroke">
                        <thead> 
                            <tr>
                                <th data-i18n="messages.Week">Wk</th>
                                <th data-i18n="messages.Date">Date</th>
                                <!-- <th data-i18n="messages.Principal">Principal</th>
                                <th data-i18n="messages.Interest">Interest</th> -->
                                <!-- <th data-i18n="messages.Total">Total</th> -->
                                <th data-i18n="messages.Principal">Principal</th>
                                <th data-i18n="messages.Interest">Interest</th> 
                                <th data-i18n="messages.Total">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="payment in filteredHistory">
                                <td>{{payment[0]}}</td>
                                <td>{{payment[1]}}</td>
                             <!--    <td>{{payment[2] | currency  : 'Rp&nbsp' : 0}}</td>
                                <td>{{payment[3] | currency  : 'Rp&nbsp' : 0}}</td> -->
                                <!-- <td>{{payment[4] | currency  : 'Rp&nbsp' : 0}}</td>
                                <td>{{payment[5] | currency  : 'Rp&nbsp' : 0}}</td> -->
                                <!-- <td>{{payment[6] | currency  : 'Rp&nbsp' : 0}}</td> -->
                                <td>{{payment[7] | currency  : 'Rp&nbsp' : 0}}</td>
                                <td>{{payment[8] | currency  : 'Rp&nbsp' : 0}}</td>
                                <!-- <td>{{payment[8] | currency  : 'Rp&nbsp' : 0}}</td> -->
                                <!-- <td>{{payment[9]}}</td> -->
                                <td>{{payment[10] | currency  : 'Rp&nbsp' : 0}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class='right' ng-show='numPages()!=0'><strong>Page</strong> {{currentPage}} <strong>of</strong> {{numPages()}} &nbsp;<a href="#" class="ui-btn ui-btn-h ui-icon-check ui-btn-inline ui-" ng-repeat="i in getPages() track by $index" ng-click="changePage($index+1)">{{$index+1}}</a></div>
                </div>
            </div>
            <div data-role="footer" class="footer"></div><!-- data-position="fixed"-->
        </div>

        <!--Payment History Previous-->
        <div data-role="page" id="pagePrevPaymentHistory">
            <div data-role="header" class="header"></div>
            <div data-role="main" class="ui-content" data-ajax="false">
                <span class="label clear bold uppercase" data-i18n="messages.PaymentHistory">Payment History</span><br class="clear"/>
                <div class="ui-content" style='text-align:center;background:white;position:relative;'>
                    <canvas id="prevHistoryChart" width="400" height="400" style='background:white;border:1px solid black'></canvas>
                    <table data-role="table" class="ui-responsive ui-shadow table-stroke">
                        <thead>
                            <tr><th data-i18n="messages.Week">Wk</th><th data-i18n="messages.Date">Date</th><th colspan=3 style="text-align:center" data-i18n="messages.Repayment">Repayment</th><th colspan=3 style="text-align:center" data-i18n="messages.LoanBalance">Loan Balance</th><th data-i18n="messages.MissedPaymentAmt">Missed Payment Amt</th><th data-i18n="messages.Reason">Reasons</th></tr>
                            <tr><th></th><th></th><th data-i18n="messages.Principal">Principal</th><th data-i18n="messages.Interest">Interest</th><th data-i18n="messages.Total">Total</th><th data-i18n="messages.Principal">Principal</th><th data-i18n="messages.Interest">Interest</th><th data-i18n="messages.Loan">Loan</th><th></th><th></th></tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="payment in prevfilteredHistory">
                                <td>{{payment[0]}}</td>
                                <td>{{payment[1]}}</td>
                                <td>{{payment[2] | currency  : 'Rp&nbsp' : 0}}</td>
                                <td>{{payment[3] | currency  : 'Rp&nbsp' : 0}}</td>
                                <td>{{payment[4] | currency  : 'Rp&nbsp' : 0}}</td>
                                <td>{{payment[5] | currency  : 'Rp&nbsp' : 0}}</td>
                                <td>{{payment[6] | currency  : 'Rp&nbsp' : 0}}</td>
                                <td>{{payment[7] | currency  : 'Rp&nbsp' : 0}}</td>
                                <td>{{payment[8] | currency  : 'Rp&nbsp' : 0}}</td>
                                <td>{{payment[9]}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class='right' ng-show='prevnumPages()!=0'><strong>Page</strong> {{prevcurrentPage}} <strong>of</strong> {{prevnumPages()}} &nbsp;<a href="#" class="ui-btn ui-btn-h ui-icon-check ui-btn-inline ui-" ng-repeat="i in prevgetPages() track by $index" ng-click="prevchangePage($index+1)">{{$index+1}}</a></div>
                </div>
            </div>
            <div data-role="footer" class="footer"></div><!-- data-position="fixed"-->
        </div>
		
		<!--Product Mapping-->  
        <div data-role="page" id="pageProductMapping">
            <div data-role="header" class="header"></div>
            <div data-role="main" class="ui-content" data-ajax="false">
                
                <div class="ui-content">
                    <span class="ui-content label clear bold uppercase" data-i18n="messages.Products">Products</span>
                    <br class="clear"/>
                     <div class="ui-content">
                        <div class="" ng-show="loans.length > 0">
                            <!-- LOAN TYPES -->
                            <div ng-repeat="loan in loans track by loan.LTY_PK" class="ui-grid-33 marg-btm-20 ">
                                <a href="#" ng-click="viewloanproducts($index, $event)" class="loan-trans">
                                    <table data-role="table" class="ui-responsive box-active loan-box ui-shadow table-stroke"  >
                                        <thead>
                                            <tr>
                                                <th class="box-header">
                                                    <div class="lineh-32 ">
                                                        {{loan.LTY_DESCRIPTION}} 
                                                    </div> 
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="box-body">
                                            <tr>
                                                <td > 
                                                    <div class="ui-content bold center group-block-amt" >
                                                        <h1>{{ getLoanBalance(loan) }}</h1>
                                                    </div>
                                                    <div class="group-client left">
                                                        <i class="fa fa-repeat"></i>{{ loan.CLL_LOAN_WEEKS }}
                                                    </div>
                                                    <div class="group-status right">
                                                        <span>Loan</span> :<b>{{ loan.CLL_ACTUAL_LOAN }}</b>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </a>
                            </div>
                        </div>
                        <br class="clear"/>
                        <table ng-show="activeloan != null" id="productmappingdetails" data-role="table" ng-model="activeloan" class="ui-responsive ui-shadow table-stroke ui-table">
                            <thead>
                                <tr> 
                                    <th data-i18n="messages.LoanAmt">Loan Amount</th>
                                    <th data-i18n="messages.Maturity">Maturity</th>
                                    <th></th>
                                </tr>
                            </thead>                            
                            <tbody>
                                <tr> 
                                    <td style="width:59%">
                                        <div class="ui-content"  >
                                            {{ activeloan.selecteddetais.loanamt | currency  : 'Rp&nbsp' : 0 }}
                                        </div> 
                                    </td>
                                    <td style="width:21%">  
                                        <div class="ui-content"  > 
                                            {{ activeloan.selecteddetais.loanmaturity.value }} Week(s)
                                        </div> 
                                    </td>
                                    <td style="width:20%">  
                                        <div class="ui-content"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br class="clear"/>
                        <table ng-show="activeloan != null" data-role="table" ng-model="activeloan" class="ui-responsive ui-shadow table-stroke ui-table">
                            <thead>
                                <tr> 
                                    <th data-i18n="messages.LoanPurpose">Loan Purpose</th> 
                                </tr>
                            </thead>                            
                            <tbody>
                                <tr>  
                                    <td>  
                                        <div class="ui-content">
                                            {{ activeloan.selecteddetais.loanpurpose.name }}
                                        </div> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br class="clear"/>
                        <table ng-show="activeloan != null" data-role="table" class="ui-responsive ui-shadow table-stroke ui-table">
                            <thead>
                                <tr>
                                    <th data-i18n="messages.Select">Select</th>
                                    <th data-i18n="messages.ProductName">Product Name</th>
                                    <th data-i18n="messages.Balance">Balance</th>
                                    <th data-i18n="messages.Maturity">Maturity</th>
                                    <th data-i18n="messages.ProductSavingpwk">Saving per Week</th>
                                    <th data-i18n="messages.Action" class="center">Action</th>
                                </tr>
                            </thead>                            
                            <tbody> 
                                <tr ng-repeat="product in activeloan.products track by product.PRM_CODE| filter : { LSM_LTY_PK : activeloan.CLL_LTY_PK }" >
                                    <td style="width:10%">  
                                        <div class="ui-content">
                                            <input type="checkbox" 
                                                class="ui-btn ui-shadow ui-corner-all"
                                                ng-model="product.isSelected" 
                                                name="product{{ product.PRM_PK}}" 
                                                id="product{{ product.PRM_PK}}"
                                                ng-true-value="YES" 
                                                ng-false-value="NO" 
                                                data-role="none"
                                                ng-disabled="product.isMandatory=='Y'"
                                                ng-change="checkboxChange(product.isSelected)" />
                                            <label for="product{{product.PRM_PK}}">&nbsp;</label>
                                        </div>
                                    </td>
                                    <td style="width:40%">  
                                        <div class="ui-content"> 
                                           {{ product.PRM_NAME | translate }}{{ " (" + product.PRM_CODE + ")" }}
                                        </div>
                                    </td>   
                                    <td style="width=20%">
                                        {{ product.CPM_PRM_BALANCE | currency  : 'Rp&nbsp' : 0 }}
                                    </td>
                                    <td style="width:20%;">  
                                        <div class="ui-content">{{ product.selectedMaturityOption }} </div>
                                    </td>
                                    <td>
                                        <div ng-show="product.PRM_CODE=='002.0007'" >
                                            <div ng-show="product.isSelected !='YES' && activeloan.CLL_STATUS != 1 && (product.CPM_CHKNEW != 2 || activeloan.CLL_STATUS != 1)">
                                                <select name="newprodpay{{activeloan.CLL_PK}}" 
                                                    id="newprodpay{{ activeloan.CLL_PK }}"  
                                                    class="newprod"
                                                    ng-model="product.selectedSavingperWeek" 
                                                    my-change
                                                    ng-change="refreshSelSav(loan.CLL_PK,product)"
                                                    ng-options="pay.value as pay.name for pay in feastrepay"></select>
                                            </div>
                                            <div ng-show="product.isSelected == 'YES' || activeloan.CLL_STATUS == 1">
                                                {{ product.selectedSavingperWeek | currency  : 'Rp&nbsp' : 0 }} / Week
                                            </div>
                                        </div>
                                    </td>   
                                    <td style="width:10%">    
                                        <!-- Active -->  
                                        <!-- <a ng-show="product.isActive && product.CPM_CHKNEW!=1 && product.status!='Pending' && product.status!='Closed' && product.canClose" class="ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all ui-btn-r right marg-right-50" data-role="button" href="#" ng-click="closeAccount(product);" data-role="button" data-inline="true" data-ajax='false' data-icon="delete"></a> -->
                                        <!-- Add New --> 
                                        <a ng-show="!product.isActive  && product.status != 'Pending' " class="ui-btn ui-icon-plus ui-btn-icon-notext ui-corner-all ui-btn-g right marg-right-50" data-role="button" href="#" ng-click="addThisProduct(product);" data-role="button" data-inline="true" data-ajax='false' data-icon="delete"></a>
                                        <!-- Close New -->
                                        <a ng-show="product.PRM_IS_MANDATORY !='Y' && product.CPM_CHKNEW==2" class="ui-btn ui-icon-minus ui-btn-icon-notext ui-corner-all ui-btn-bl right marg-right-50" data-role="button" href="#" ng-click="removeThisProduct(product);" data-role="button" data-inline="true" data-ajax='false' data-icon="delete"></a>
                                        <!-- Pending -->
                                        <a ng-show="product.PRM_IS_MANDATORY !='Y' && product.status=='Pending'" class="ui-btn ui-icon-clock ui-btn-icon-notext ui-corner-all ui-btn-gr right marg-right-50" data-role="button" href="#" ng-click="cancelClose(product);" data-role="button" data-inline="true" data-ajax='false' data-icon="delete"></a>
                                    </td>
                                </tr>
                            </tbody>                            
                        </table>  
                        <div class="ui-content" data-ajax="false" ng-show="loans.length == 0">
                            <div class="ui-content jumbotron center">
                                <h2 data-i18n="messages.NoActiveLoans"></h2>
                            </div>
                        </div>                     
                    </div>
                </div>  
                <br class="clear"/>
                    <br class="clear"/>
                    <br class="clear"/>

                    <div class="ui-content no-hori-padding">
                        <div class="ui-content" style="background: #2B3541;color: white;" >
                            <span data-i18n="messages.IconLegend"></span>
                        </div>
                        <div data-type="vertical" class="ui-content no-hori-padding">
                            <div class="ui-content">
                                <span>
                                    
                                </span> 
                                <span>
                                    <div class="ui-btn ui-icon-clock ui-btn-icon-notext ui-corner-all ui-btn-gr left">
                                    </div>
                                    <div class="ui-content">
                                        {{ words.greyicon }}
                                    </div>
                                </span>
                                <!-- <span>
                                    <div class="ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all ui-btn-r left">
                                    </div>
                                    <div class="ui-content">
                                        {{ words.redicon }}
                                    </div>
                                </span> -->
                                <span>
                                    <div class="ui-btn ui-icon-minus ui-btn-icon-notext ui-corner-all ui-btn-bl left">
                                    </div>
                                    <div class="ui-content">
                                        {{ words.blueicon }}
                                    </div>
                                </span>
                                <span>
                                    <div class="ui-btn ui-icon-plus ui-btn-icon-notext ui-corner-all ui-btn-g left">
                                    </div>
                                    <div class="ui-content">
                                        {{ words.goldicon }}
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>              
            </div>
            <div class="footer" data-role="footer"></div>
        </div>
		
        <!--Cheat Sheet-->               
        <div data-role="page" id="page">
            <div id="header" data-role="header"><div id="headerspace"></div></div>
            <div data-role="main" class="ui-content" data-ajax="false">
                <input type="number" ng-model="client_id"/><input type="button" ng-click="getNew()" value="Get Info"/>
                <textarea>{{clientinfo}}</textarea>
                <textarea>{{loaninfo}}</textarea>
                <textarea>{{borrowedinfo}}</textarea>
                <textarea>{{incomeinfo}}</textarea>
            </div>
            <div id="footer" data-role="footer"></div><!-- data-position="fixed"-->
        </div>

        <!-- script -->
        <script type="text/javascript" src="phonegap.js"></script>
        <script src="js/jquery.js"></script>
        <script type="text/javascript" src="js/load_template.js"></script>
        <script type='application/javascript' src='js/fastclick.js'></script>
        <script type="text/javascript" src="js/jquery.mobile-1.4.2.min.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/filemanager.js"></script>
        <script type="text/javascript" src="js/properDB.js"></script>
        <script type="text/javascript" src="js/initDB.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/moment.min.js"></script>
        <script type="text/javascript" src="js/ng-currency.min.js"></script>
        <script type="text/javascript" src="js/chart.min.js"></script>
        <script type="text/javascript" src="js/app_viewclient.js?v=1.0.15"></script>
        <script type="text/javascript" src="js/app_header.js"></script>
		<script type="text/javascript" src="js/i18next-1.8.0.js"></script>
		<script type="text/javascript" src="js/ln.js"></script>
		<script type="text/javascript" src="js/angular-translate.js"></script>		
		<script type="text/javascript" src="js/angular-translate-loader-static-files.js"></script>
    </body>
</html>
